@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/*Avatar Styling Begins */
:root{
    --main-color:rgb(121, 211, 246)
}

.Avatar{
    border: 1px solid var(--main-color);
    margin: auto;
    max-width: 700px;
    display: block;
}

.Avatar img{
    border: 1px solid var(--main-color);
    border-radius: 50rem;
    height: 3.5rem;
    width: 3.5rem;
    margin: 1rem;
}

/* Avatar Styling Ends */

/* Alert Styling Starts */


.alertContainer{
    font-family: 'Lato';
    padding: 0.5rem;
    border: 1px solid var(--main-color);
    max-width: 700px;
    margin: auto;
    display: block;
    border-radius: 0.5rem;
}

.alertContent{
    display: flex;
    flex-direction: row;
    background: rgb(246, 169, 169);
}

.alertIcon{
    height: 2rem;
    width: 2rem;
    margin: 0.5rem;
}

.alertDescription{
    float: right;
    font-size: 1rem;
    margin: 0.5rem;
    font-weight: 500;
    font-family: 'Lato';
}


.alertStatusContainer{
    border: 1px solid  var(--main-color);
    max-width: 700px;
    margin: auto;
    display: block;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
}

.statusContainer{
    display: flex;
    flex-direction: row;
    background: rgb(246, 169, 169);
    margin: 0.5rem;
    padding: 0.5rem;
}

.success{
    background: rgb(115, 236, 161);
}

.warning{
    background:rgb(241, 187, 98)
}

.info{
    background: rgb(96, 194, 240);
}

/* Alert Styles Styling */

.stylesContainer{
    display: block;
    max-width: 700px;
    margin: auto;
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.alertStyle{
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
}

.normal{
    background: rgb(115, 236, 161) ;
}

.dark{
    background: rgb(4, 59, 8);
    color: white;
}


.descriptive{
    display: flex;
    flex-direction: column;
    background: rgb(112, 224, 112);
    max-width: 400px;
    margin: auto;
    margin-left: 0.5rem
}

.descriptive img{
    float: top;
    margin:0.5rem 9rem;
}

.descriptive h3{
    margin: 0.5rem 4rem;
    font-family: 'Lato';
    max-width: 400px;
    margin: auto;
    margin-bottom: 1rem;
}

.descriptive p{
    font-family: 'Lato';
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 0.3rem;
}

/* Alert Styling Ends */

/* Button Styling Starts */

.ButtonContainer{
    border: 1px solid var(--main-color);
    border-radius: 0.5rem;
    padding:0.5rem;
    display: block;
    max-width: 700px;
    margin: auto;
}

.btn{
    padding: 0.5rem;
    margin: 0.5rem;
    border:1px hidden white;
    border-radius: 0.5rem;
    color: white;
    letter-spacing: 0.1rem;
    font-style: bold;
}

.primary{
    background-color: rgb(51, 151, 209);
}

.secondary{
    background-color: rgb(30, 58, 151) ;
}

.information{
    background-color: #4338CA;
}

.danger{
    background-color: red;
}

.light{
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
}

.darkBtn{
    background-color: black;
}

.btn-sizes{
    border:1px solid 
}

.btn-small{
    padding: 0.2rem;
}

.btn-large{
    padding: 1rem;
}

.btn-larger{
    padding: 1.5rem;
}

.hover1{
    border: 1px solid rgb(115, 236, 161);
    color: green;
    background-color: white;
}
.btn:hover{
    background-color: rgb(115, 236, 161);
}

.hover2{
    color: green;
    background-color: white;
}

.hover3{
    color:green;
    background: white;
}

.hover3:hover{
    text-decoration:underline;
    background-color: white;
}

.btn-icon{
    display: flex;
    flex-direction: row;
}

.btn-icon img{
    margin-right: 0.2rem;
}

.animationBtn{
    color: rgb(14, 189, 212);
    background-color: white;
    padding: 0.5rem;
    border: 1px solid blue;
    font-size: 1rem;
}

/* Card styling starts */

.cardContainer{
    padding: 0.5rem;
    border: 2px solid var(--main-color);
    border-radius: 0.5rem;
    max-width: 800px;
    margin: auto;
    display: block;
}

.card{
    max-width: 700px;
    margin: auto;
    display: block;
}

.card img{
    max-width: 400px;
    margin: auto;
    display: block;
    margin-top: 0.5rem;
    margin-bottom:0.5rem;
}

.card hr{
    max-width: 100px;
    margin: auto;
    display: block;
    height: 0.2rem;
    background-color:rgb(121, 211, 246) ;
    margin-bottom: 0.2rem;
}

.card-title{
    margin:auto;
    max-width: 400px;
    display: block;
    margin-left: 1.5rem;
    font-family: 'Lato';
    color: blue;
}

.card-text{
    max-width: 400px;
    margin: auto;
    display: block;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.card button{
    max-width: 400px;
    margin: auto;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cardBadge{
    padding: 0.5rem;
}

.card-badge{
    background-color:green;
    display: block;
    width: 60px;
    text-align: center;
    color:white;
    border: 1px hidden;
    border-radius: 0.5rem ;
    position: relative;
    bottom: 4rem;
    left: 12.5rem;
}

.card-with-badge{
    max-width: 400px;
    margin: auto;
    display: block;
    border: 1px solid rgb(89, 185, 209);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cardWithDismiss{
    max-width: 400px;
    margin: auto;
    display: block;
    border: 1px solid blue;
    border-top-left-radius: 2.5rem ;
    padding:1rem;
}

.cardWithDismiss img{
    position: relative;
    top: 0;
    bottom: 6rem;
    margin: auto;
    max-width: 400px;
    display: block;
}

.cardWithDismiss button{
    max-width: 400px;
    margin: auto;
    display: block;
    margin-top: 0.5rem;
}

.light1{
    background-color: white;
    border: 1px solid rgb(89, 185, 209);
    color: black;
    margin-bottom: 0.5rem;
}

.cardWithOverlay{
    max-width: 400px;
    margin: auto;
    display: block;
    margin-top: 2rem;
}

.textOverlay{
    position: relative;
    bottom: 11rem;
    left: 1rem;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    margin-top: 0;
}

.cardWithText-Heading{
    max-width: 400px;
    margin: auto;
    display: block;
    font-family: 'Pacifico';
}

.cardWithText-subheading{
    font-family: 'Lato';
}

.cardWithText a{
    color:black;
}

.cardWithText-Description{
    text-align: left;
    margin-left: 0;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}

.cardWithText-links{
    color: black;
    text-align: left;
    text-decoration:underline;
} 

.horizontal{
    border: 1px solid blue;
    border-radius: 0.5rem;
    margin: 1rem;
}

.vertical{
    border: 1px solid blue;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    max-width: 800px;
}

.vertical-container1{
    margin: 0.5rem;
}

.vertical-container2{
    margin: 0.7rem;
}

.card-shadow{
    border: 1px solid blue;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px black;
    margin: 1rem;
}

/* Input field styling starts */

.inputContainer{
    max-width: 1000px;
    margin: auto;
    display: block;
    border: 1px solid rgb(89, 185, 209);
    padding: 1rem;
    border-radius: 0.5rem;
}

.input{
    padding: 0.5rem;
    max-width: 500px;
    border-radius: 0.5rem;
    text-align: center;
    width: 100%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

input{
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.medium{
    padding: 1rem;
}

.large{
    padding: 1.5rem;
}

.larger{
    padding: 2rem;
}

.outline{
    border: 0.5px solid grey;
}

.outline:hover{
    border: 1px solid grey;
    outline: none;
}

.filled{
    background-color: rgb(211, 193, 193);
    color: black;
}

.filled:hover{
    background-color: whitesmoke;
}

.flushed{
    outline: none;
    border: none;
}

.flushed:hover{
    border-bottom: 1px solid blueviolet;
}

.unstyled{
    border: none;
    outline: none;
}

.success-styled{
    border: 2px solid rgb(127, 238, 113);
    font-weight: 700;
    color: rgb(77, 235, 57);
    outline: none;
}

.success-div{
    font-size: 0.7rem;
    margin: 0.3rem;
    text-align: left;
    color:rgb(77, 235, 57) ;
}


.error-styled{
    border: 2px solid rgb(248, 52, 52);
    font-weight: 700;
    color: red;
    outline: none;
}

.error-div{
    font-size: 0.7rem;
    margin: 0.3rem;
    text-align: left;
    color: red;
}

/* Image Styling Starts Here */

.imageContainer{
    border: 1px solid rgb(89, 185, 209);
    border-radius: 0.5rem;
    padding: 0.7rem;
    max-width: 700px;
    margin: auto;
    display: block;
    margin-bottom: 0.5rem;
    max-height: fit-content;
}

.imageContainer1{
    border: 1px solid rgb(89, 185, 209);
    border-radius: 0.5rem;
    max-width: 700px;
    margin: auto;
    display: block;
    height: 25vh
}

.image{
    border: 1px solid grey;
    border-radius: 0.2rem;
}

.image img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.rounded-image{
    border-radius: 50%;
    border: none;
}

.roundImage{
    border-radius: 50%;
    height: 80px;
    width: 50%;
    border: 1px solid black;
}

.vertical{
    margin: 1rem;
}

.horizontal1{
    float: left;
    margin: 1rem;
}

.horizontal2{
    float: right;
    margin: 1rem;
    
}

/* List styling here */

.listContainer{
    border: 1px solid rgb(89, 185, 209);
    border-radius: 0.5rem;
    max-width: 900px;
    margin: auto;
    display: block;
    width: 90%;
    padding: 0.5rem;
}

.list{
    margin: 1rem;
    font-family: 'Lato';
    letter-spacing: 0.1px;
}

.stacked{
    list-style: none;
    border: 1px solid grey;
    width: 70%;
    text-align: center;
    max-width: 400px;
    margin: auto;
    display: block;
    padding: 0.5rem;
}

.primaryList{
    background-color: rgb(109, 221, 236)
    ;
}

.secondaryList{
    background-color: rgb(111, 144, 182);
}

.successList{
    background-color: rgb(86, 160, 76);
}

.warningList{
    background-color: rgb(231, 168, 91);
}

.dangerList{
    background-color: rgb(230, 134, 134);
}

.infoList{
    background-color: rgb(122, 213, 221);
}

.lightList{
    background-color: rgb(163, 158, 158);
}

.darkList{
    background-color: black;
    color: white;
}

/* navbar styling starts from here */

.navContainer{
    border: 1px solid rgb(89, 185, 209);
    max-width: 700px;
    margin: auto;
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    height: 30vh;
}

.navbar{
    border: 1px hidden black;
    border-radius: 0.5rem;
    background-color: rgb(38, 167, 196);
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: block;
    height: 100%;
}

.logo{
    float: left;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid blue;
    border-radius: 50%;
}

.navLinks{
    float: right;
}

.navLinks li{
    display: inline-block;
    margin: 0.3rem;
    color: white
    ;
}

/* modal styling starts here */

.modalContainer{
    border: 1px solid rgb(89, 185, 209);
    max-width: 900px;
    margin: auto;
    display: block;
    border-radius: 0.5rem;
    width:80%;
    padding: 1rem;
}

.modal{
    border: 1px solid blue;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
}

.modal-title{
    font-family: 'Lato';
    padding: 0.3rem;
    color: rgb(40, 219, 231);
}

.modal-description{
    font-family: 'Lato';
    padding: 0.5rem;
    color: rgb(34, 66, 65);
    letter-spacing: 0.2px;
}

.modal-icon{
    float:right;
    position: relative;
    bottom: 1.7rem;
    left: 1rem;
}

/* grid styling starts here */

.gridContainer{
    border: 1px solid rgb(89, 185, 209) ;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 700px;
    display: block;
    margin: auto;
    width: 100%
    margin-bottom: 0.5rem;
}

.grid{
    border: 1px solid blue;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.grid-col{
    border: 1px solid blue;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: repeat(3,1fr);
}

.grid-mixed{
    border: 1px solid blue;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(3,1fr);
}

.block{
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}
.block1,.block-col-1{
    background-color: powderblue;
    border:1px hi hidden blue;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}

.block2,.block-col-2{
    background-color: rgb(127, 238, 113);
    border: 1px hidden green;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}

.block3,.block-col-3{
    background-color: rgb(248, 52, 52);
    border: 1px hidden red;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}

.block4{
    background-color: peru;
    border: 1px hidden peru;
    border-radius: 0.5rem;
    margin: 1rem;
    padding: 1rem;
}

.block5{
    background-color:navy;
    border: 1px hidden navy;
}

.block6{
    background-color: indianred;
    border: 1px hidden indianred;
}

.block7{
    background-color: lawngreen;
    border: 1px hidden lawngreen;
}

.block8{
    background-color: aqua;
    border: 1px hidden aqua;
}

.block9{
    background-color: teal;
    border: 1px hidden aqua;
}

.headingContainer{
    border: 1px solid rgb(89, 185, 209) ;
    padding: 1rem;
    border-radius: 0.5rem;
    max-width: 900px;
    margin: auto;
    display: block;
    width: 100%;
}

.headingContainer h1,h2,h3,h4,h5,h6{
    margin: 0.5rem;
}

.text p{
    padding: 1rem;
    border: 1px solid grey;
    border-radius: 0.5rem;
    margin: 1rem;
}

.smallText{
    font-size: 1rem;
}

.mediumText{
    font-size: 1.5rem;
}

.largeText{
    font-size: 2rem;
}

.largerText{
    font-size: 2.5rem;
}

.center{
    text-align: center;
}

.default{
    text-align: inherit;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

/* toast styling starts here */

.toastContainer{
    border: 1px solid rgb(89, 185, 209) ;
    border-radius: 0.5rem;
    margin: auto;
    max-width: 900px;
    display: block;
    width:80%;
    padding: 1rem;
}

.toast{
    border: 1px solid grey;
    border-radius: 0.5rem;
    margin: 0;
    padding: 1rem;
    box-shadow: 2px 2px 2px black;
    max-width: 600px;
    margin-bottom: 0.5rem;
}

.toast-title{
    border: 1px solid grey;
    border-radius: 0.5rem;
    font-family: 'Lato';
    padding: 0.5rem;
    background-color: grey;
    color: white;
    margin: 0;
}

.toast span{
    float: right;
    position: relative;
    bottom: 2.6rem;
    right:1rem;
    color:white;
    margin: 0;
}

.toast-description{
    padding: 0.5rem;
    letter-spacing: 0.2px;
}

.toast span img{
    position: relative;
    top: 1.5rem;
    left: 1rem;
}