@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;600&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root{
    --main-color:rgb(51, 151, 209);
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1.5fr 1fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 1.5fr 0.5fr;
    grid-template-areas: 
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main";
    grid-gap: 1rem;
}

header{
    display: grid;
    grid-template-columns: 1.7fr 2.5fr;
    grid-gap: 0.5rem;
    height: 20vh;
    border-radius: 0.5rem;
    grid-area: header;
}

.logo1{
    float: left;
    margin: 0.5rem;
}

.logo1 img{
    height: 150px;
    width: 150px;
}

nav{
    float: right;
}

nav li:hover{
    cursor: pointer;
    color: blue;
    font-size: 1.5rem;
}

.nav-links{
    display: inline;
    color: black;
    font-size: 1rem;
    margin: 0.5rem;
    padding: 1rem;
    position: relative;
    top:40px;
    left: 20px;
    font-family: 'Playfair Display';
    color: Black;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 400;

}

span{
    color: blue;
}

main{
    max-width: 500px;
    margin: auto;
    display: block;
}

.tagline{
    max-width: 500px;
    margin: auto;
    display: block;
    color:black;
    margin-top: 5rem;
    text-align: center;
    font-family: 'EB Garamond';
    font-size: 2.1rem;
}

.shortdescription{
    max-width: 500px;
    margin:auto;
    display: block;
    text-align: center;
    margin-top: 1rem;
    color: Black;
    font-weight: 400;
}

aside{
    grid-area: aside;
    height: 100%;
    position: fixed;
    background: rgb(11, 189, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 8px 32px 0 rgba(23, 34, 177, 0.37);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 1;
}

.sidenav-links{
    display: block;
    color: white;
    text-decoration: none;
    padding: 6px 8px 6px 16px;
    text-align: center;
    font-family: 'Source Serif Pro';
    font-style: bold;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}


main{
    grid-area: main;
}

.btn-group{
    max-width: 350px;
    margin: auto;
    display: block;
}

.btn-group button{
    margin: 1.5rem;
    padding: 0.5rem;
}


footer{
    max-width: 700px;
    margin: auto;
    display: block;
    margin-top: 6.5rem;
    text-align: center;
    grid-area: footer;
    float: bottom;
    font-weight: 400;
}

iframe{
    max-width:600px;
    display: block;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width:550px)
{
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 0.4fr 3fr 0.5fr;
        grid-template-areas: 
        "header"
        "aside"
        "main"
        "footer";
    }

    aside{
        position: sticky;
        top: 0;
        max-width: 700px;
    }

    /* this is just hit and trail */
    .sidenav-links{
        display: flex;
        padding: 0;
    }
}

.Main-Heading{
    font-family: 'Lato';
    font-size: 2rem;
    padding: 0.5rem;
    color: var(--main-color);
    max-width: 900px;
    margin: auto;
    margin-top: 2rem;
    display: block;
}

.description{
    font-family: 'Lato';
    font-size: 1rem;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    padding: 0.5rem;
    max-width: 900px;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: block;
}

.subheading{
    font-family: 'Lato';
    /* margin: 0.5rem; */
    padding: 0.5rem;
    color:rgb(51, 151, 209);
    font-size: 1.2rem;
    display: block;
    max-width: 900px;
    margin: auto;
}
